body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    *{
    padding: 0;
    margin: 0;
    }
    
    p, h1, h2, h3 {
    margin-bottom: 10px;
    }

    h1, h3 {
        color: rgba(29, 26, 6, 0.893);
    }

    h2 {
        color: darkgoldenrod
    }

    img {
    max-width: 100%;
    display: block;
    }
    
    .left {
    float: left;
    margin-right: 10px;
    }
    
    .right {
    float: right;
    margin-left: 10px;
    }
    
    header {
        background-image: url("/images/searching.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: head;
        display: grid;
        height: 40vh;
        place-content: center;
        margin-bottom: 20px;
    }
    
    nav {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }
    
    aside {
    padding: 10px;
    grid-area: side;
    }
    
    article {
    padding: 10px;
    grid-area: main;
    }
    
    nav a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    }
    
    nav li {
    list-style: none;
    display: inline;
    }
    
    nav a:hover {
    background-color: rgba(223, 210, 136, 0.9);
    color: #000;
    }
    
    .social a {
    background-color: white;
    color: black;
    }
    
    .social {
    flex-basis: 25%;
    }
    
    .labelLook {
    background-color: black;
    display: block;
    color: white;
    font-size: 2rem;
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    }